@use 'btn/btn' as btn with (
  $btn-layer-spacing: 4px // $btn-padding-x: 30px
);

.welcome {
  grid-area: welcome;
}
.page-title {
}
.page-title-accent {
}
.welcome-btn {
  display: block;
  margin: 0 auto;
}
.welcome-btn-icon {
}
