@if index($btn-types, danger) {
  /*==Default==*/

  .btn--danger {
    background-color: #fc5a5a;

    &:active {
      background-color: darken($color: #fc5a5a, $amount: 10%);
    }

    @media (hover: hover) {
      &:hover,
      &:focus {
        background-color: lighten($color: #fc5a5a, $amount: 105);
      }
    }

    &[disabled] {
      background-color: #b5b5be;
    }
  }
} @else {
}
