@if index($btn-types, default) {
  /*==Default==*/

  .btn--default {
    background-color: #92929d;

    &:active {
      background-color: darken($color: #92929d, $amount: 10%);
    }

    @media (hover: hover) {
      &:hover,
      &:focus {
        background-color: #f15c27;
        box-shadow: 0px 4px 10px 0px rgba(240, 127, 46, 0.25);
      }
    }

    &[disabled] {
      background-color: #b5b5be;
    }
  }
} @else {
}
