@if index($btn-types, frame) {
  /*==Default==*/

  .btn--frame {
    background-color: #f07f2e;

    &:active {
      background-color: #d14a00;
    }

    @media (hover: hover) {
      &:hover,
      &:focus {
        background-color: #f15c27;
      }
    }

    &[disabled] {
      background-color: rgba(#b5b5be, 0.5);
    }
  }
} @else {
}
